<div class="container-fluid footer">
   <div class="row">
      <div class="col-md-12">
        <p>
          <% if AppConfig[:enable_public] %>查看 <a href="<%= AppConfig[:public_proxy_url] %>"><b>公共界面</b></a> | <% end %>
        </p>
      </div>
   </div>
</div>
