<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items">查看 <a href="<%= AppConfig[:frontend_proxy_url] %>"><b>职员界面</b></a>
<!--         |<%# if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='<%#= AppConfig[:feedback_url]%>' target='_blank'>报告问题</a><%# end %>-->
       </p>
     </div>
  </div>
</div>
